In [19]:
!pip3 install -r requirements.txt

Requirement already satisfied: cycler==0.10.0 in c:\users\guidi\anaconda3\lib\site-packages (from -r requirements.txt (line 1)) (0.10.0)
Requirement already satisfied: decorator==4.4.2 in c:\users\guidi\anaconda3\lib\site-packages (from -r requirements.txt (line 2)) (4.4.2)
Requirement already satisfied: kiwisolver==1.3.1 in c:\users\guidi\anaconda3\lib\site-packages (from -r requirements.txt (line 3)) (1.3.1)
Requirement already satisfied: matplotlib==3.4.0 in c:\users\guidi\anaconda3\lib\site-packages (from -r requirements.txt (line 4)) (3.4.0)
Obtaining networkx from git+https://github.com/GuidiSara/networkx.git@06ef187506c895797992f4e19d4bca9d3d2aae10#egg=networkx (from -r requirements.txt (line 5))
  Skipping because already up-to-date.
Requirement already satisfied: numpy==1.20.2 in c:\users\guidi\anaconda3\lib\site-packages (from -r requirements.txt (line 6)) (1.20.2)
Requirement already satisfied: pandas==1.2.3 in c:\users\guidi\anaconda3\lib\site-packages (from -r requirements.txt (line 7)) (1.2.3)
Requirement already satisfied: Pillow==8.1.2 in c:\users\guidi\anaconda3\lib\site-packages (from -r requirements.txt (line 8)) (8.1.2)
Requirement already satisfied: pyparsing==2.4.7 in c:\users\guidi\anaconda3\lib\site-packages (from -r requirements.txt (line 9)) (2.4.7)
Requirement already satisfied: python-dateutil==2.8.1 in c:\users\guidi\anaconda3\lib\site-packages (from -r requirements.txt (line 10)) (2.8.1)
Requirement already satisfied: pytz==2021.1 in c:\users\guidi\anaconda3\lib\site-packages (from -r requirements.txt (line 11)) (2021.1)
Requirement already satisfied: scipy==1.6.2 in c:\users\guidi\anaconda3\lib\site-packages (from -r requirements.txt (line 12)) (1.6.2)
Requirement already satisfied: six==1.15.0 in c:\users\guidi\anaconda3\lib\site-packages (from -r requirements.txt (line 13)) (1.15.0)
Installing collected packages: networkx
  Attempting uninstall: networkx
    Found existing installation: networkx 2.6rc1.dev0
    Uninstalling networkx-2.6rc1.dev0:
      Successfully uninstalled networkx-2.6rc1.dev0
  Running setup.py develop for networkx
Successfully installed networkx

In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split

In [2]:
combats = pd.read_csv('./combats.partial.csv')

In [3]:
combats

       Winner  First_pokemon  Second_pokemon
0         650            650             579
1         151            151             558
2         340            340             631
3         139            688             139
4         132            365             132
...       ...            ...             ...
39995     608            608             403
39996     149            761             149
39997     740            740             320
39998     465            465             536
39999     350            350             525

[40000 rows x 3 columns]

In [4]:
train, test = train_test_split(combats, test_size=0.2,  random_state=40)
train.to_csv('train.csv', index= False)
test.to_csv('test.csv', index = False)